* {
  margin: 0;
  border: 0 px;
  padding: 0 px;
  box-sizing: border-box;
}
h1 {
  color: floralwhite;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}
.box1 {
  width: 100 vw;
  padding: 10px;

  display: flex;
  justify-content: space-around;
}
.body {
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
  width: 100%;
  padding: 5px 2px;
}
.container {
  display: flex;
  justify-content: space-around;

  width: 90%;
}
@media only screen and (min-width: 480px) {
  .body {
    display: flex;
    justify-content: flex-start;
    border: none;
    width: 90%;
    padding: 0px 30px 0 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 800px) {
  .body {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5px;
  }
}
